<a href="https://colab.research.google.com/github/seanzhu815/404/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm
import warnings
import statsmodels
import itertools
from statsmodels.tsa.arima.model import ARIMA

In [3]:
df=pd.read_excel('assign1.xlsx')

In [4]:
df.head()

,Unnamed: 0,Lo 10,2019-12-02 00:00:00,2019-12-03 00:00:00,2019-12-04 00:00:00,2019-12-05 00:00:00,2019-12-06 00:00:00,2019-12-07 00:00:00,2019-12-08 00:00:00,2019-12-09 00:00:00,Hi 10,vwretd,ewretd,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,19260701,0.58,-0.13,0.68,-0.06,-0.38,-0.07,-0.08,-0.06,0.08,0.18,0.1200,0.1645,NaN,NaN,NaN
1,19260702,-0.53,-0.40,0.16,0.10,0.29,0.36,0.51,0.41,0.37,0.52,0.4580,0.2131,NaN,NaN,NaN
2,19260706,-0.33,0.61,-0.38,0.23,0.68,0.33,0.15,0.33,0.11,0.16,0.1763,0.1349,NaN,NaN,NaN
3,19260707,0.28,-0.10,-0.40,-0.54,0.31,0.17,0.19,0.16,-0.04,0.13,0.0933,-0.1107,NaN,NaN,NaN
4,19260708,0.55,-0.90,0.04,0.23,-0.06,0.28,0.17,0.20,0.20,0.27,0.2298,0.4022,NaN,NaN,NaN